<footer id="footer">
    <div class="container">

        <div class="row footer-content">
            <div class="col-12 col-md-6">
                <div class="main-intro">
                    <div class="logo-icon">
                        <a asp-action="Index" asp-controller="Home">SMART<em>KID</em></a>
                    </div>
                    <div class="text">
                        <p>STARTKID is a very suit opportunity for your child to begin to understand that school is a place for learning and working. .</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="footer-address ">
                    <div class="footer-title">
                        <h3 class="title">Contact Us</h3>
                    </div>
                    <ul>
                        <li>
                            <div class="icon"><i class="fa fa-map-marker-alt"></i></div>
                            <div class="cont">
                                <address>ISTA TINGHIR 517 District, Tinghir Ouarzazate Morocco</address>
                            </div>
                        </li>
                        <li>
                            <div class="icon"><i class="fa fa-phone"></i></div>
                            <div class="cont">
                                <a class="" href="tel:+212600862539">6 00 86 25 39</a>
                            </div>
                        </li>
                        <li>
                            <div class="icon"><i class="far fa-envelope"></i></div>
                            <div class="cont">
                                <a href="mailto:ah.hennani@gmail.com">ah.hennani@gmail.com</a>
                            </div>
                        </li>
                        <li>
                            <div class="icon"><i class="far fa-clock"></i></div>
                            <div class="cont">
                                <span>Monday - Sunday / 08.00AM - 19.00 (Except Holidays)</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="copyright col-md-12 text-center">
                <div class="copyright-content">
                    <small class="block">All Rights Reserved. © 2021 SMARTKID.</small>
                    <small class="block">Coded by <a style="color: silver;" href="https://www.facebook.com/hnaniiiiii" target="_blank">AHMED HENNANI</a></small>
                </div>
                <div id="social-links">
                    <ul class="social-icons">
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fab fa-github-alt"></span></a></li>
                        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</footer>