<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--====== the responsive meta required from bootstrap to work ======-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SMARTKID</title>

   <partial name="_Styles" />

</head>
<body>

    <!--============  START PART Background ============ -->

    <section style="width:100%;">
        <div class="bg-body" style="width:100%;">
            <div id="particles-js" style="width:100%;"></div>
        </div>
    </section>

    <!--============ Background PART END ============-->
    <!--============ Header PART START ============-->

    <partial name="_Header" />

    <!--============ Header PART ENDS ============-->
    <!--============ Body PART START ============-->

    @RenderBody()

    <!--============ Body PART ENDS ============-->
    <!--============ Footer PART START ============-->

    <partial name="_Footer" />

    <!--============ Footer PART ENDS ============-->
    <!--============ BACK TO TP PART START ============-->
    <section id="back-to-top-container">
        <button class="back-to-top"><i class="fa fa-angle-up"></i></button>
    </section>
    <!--============ BACK TO TP PART ENDS ============-->

    <partial name="_Scripts" />
</body>
</html>