@{
    ViewData["Title"] = "Home Page";
}

<!--============ START Pre-Loading ============-->

<div id="loader-wrapper">
    <div id="overlay"></div>
    <div id="loader"></div>
</div>

<!--============ END Pre-Loading  ============-->
<!--============ Main Slider PART START ============-->

<section id="main-slider" class="main-slider">
    <div class="owl-carousel owl-theme">

        <div class="slide cover">
            <div class="image-layer" style="background-image: url(/Images/Statics/Sliders/slider01-pexels-cottonbro.jpg)"></div>
            <div class="bg-ovelay"></div>
            <div class="container">

                <div class="content">

                    <div class="title logo-icon">
                        <a asp-action="Index" asp-controller="Home">SMART<em>KID</em></a>
                    </div>

                    <div class="text">Is a very suit opportunity for your child to begin to understand that school is a place for learning and working..</div>
                    <div class="btns-box">
                        <a asp-action="inscription" asp-controller="Account" class="theme-btn btn-style-one"><span class="txt">Join us</span></a>
                    </div>
                </div>

            </div>
        </div>


        <div class="slide cover">
            <div class="image-layer" style="background-image: url(/Images/Statics/Sliders/slider02-pexels-digital-buggu.jpg)"></div>
            <div class="bg-ovelay"></div>
            <div class="container">
                <div class="content">
                    <div class="title"><h2>Dreamy childhood</h2></div>
                    <div class="text">We discover talents, Develop their mental, physical and social skills to express themselves</div>
                    <div class="btns-box">
                        <a asp-action="inscription" asp-controller="Account" class="theme-btn btn-style-one"><span class="txt">Know more</span></a>
                    </div>
                </div>
            </div>
        </div>


        <div class="slide cover">
            <div class="image-layer" style="background-image: url(/Images/Statics/Sliders/slider02-pexels-markus-spiske.jpg)"></div>
            <div class="bg-ovelay"></div>
            <div class="container">
                <div class="content">
                    <div class="title"><h2>We help your child <br />to overcome fear</h2></div>
                    <div class="text">Don't worry, Fear of school is normal for kids, We help them control it and feel more confident.</div>
                    <div class="btns-box">
                        <a asp-action="inscription" asp-controller="Account" class="theme-btn btn-style-one"><span class="txt">Know more</span></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!--============ Main Slider PART END ============-->
<!--============ Our Programs PART START ============-->

<section id="our-programs" class="our-programs" style="background-image: url(/Images/Statics/bg/bg-pexels-agung-pandit-wiguna-3401403.jpg)">
    <div class="container">

        <div class="header-title">
            <h2>
                <span class="shape shape-right bg-color-shape"></span>
                <span class="text">Our Programs</span>
                <span class="shape shape-left bg-color-shape"></span>
            </h2>
        </div>

        <div class="row justify-content-center">

            <!-- programs item -->
            <div class="our-programs-item col-12 col-md-6 col-lg-4">
                <div class="inner-box">

                    <div class="icon-container">
                        <div class="icon-box">
                            <span class="icon">
                                <i class="fas fa-baby"></i>
                            </span>
                        </div>
                        <div class="program-number">1</div>
                    </div>

                    <div class="content">
                        <h3><a href="#nursery_1">Nursery 1</a></h3>
                        <div class="text">Class for kids from three months to three years old (From <time>06:00</time>AM to <time>13:30</time>PM).</div>
                    </div>

                </div>
            </div>

            <!-- programs item -->
            <div class="our-programs-item col-12 col-md-6 col-lg-4">
                <div class="inner-box">

                    <div class="icon-container">
                        <div class="icon-box">
                            <span class="icon">
                                <i class="fas fa-baby"></i>
                            </span>
                        </div>
                        <div class="program-number">2</div>
                    </div>

                    <div class="content">
                        <h3><a href="#nursery_2">Nursery 2</a></h3>
                        <div class="text">Class for kids from three months to three years old (From <time>06:00</time>AM to <time>19:30</time>PM).</div>
                    </div>

                </div>
            </div>

            <!-- programs item -->
            <div class="our-programs-item col-12 col-md-6 col-lg-4">
                <div class="inner-box">

                    <div class="icon-container">
                        <div class="icon-box">
                            <span class="icon">
                                <i class="fas fa-child"></i>
                            </span>
                        </div>
                        <div class="program-number">3</div>
                    </div>

                    <div class="content">
                        <h3><a href="#Kindergarten">Kindergarten</a></h3>
                        <div class="text">Class for young children between three and five years old.</div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</section>

<!--============ Our Programs PART END ============-->
<!--============ Why Us PART START ============-->

<section id="why-us" class="why-us">
    <div class="container">

        <article class="inner-why-us-container">
            <div class="row" style="margin-right:0;margin-left:0;">

                <!-- Image Column -->
                <div class="image cover col-12 col-lg-4"></div>

                <!-- Content Column -->
                <div class="content col-12 col-lg-8">
                    <div class="inner">
                        <h2>Why Choose Us for Guarding Your Kid</h2>

                        <div class="text">To give your child a bright future, We bring you only the best in everything — Quality education and guardianship, Professional team and transparent prices.</div>

                        <div class="row">

                            <!-- Interior Block -->
                            <div class="interior-block col-12 col-md-4">
                                <div class="block-inner">
                                    <div class="icon-box">
                                        <span><i class="fas fa-award"></i></span>
                                    </div>
                                    <h3>Superior Quality</h3>
                                </div>
                            </div>

                            <!-- Interior Block -->
                            <div class="interior-block col-12 col-md-4">
                                <div class="block-inner">
                                    <div class="icon-box">
                                        <span><i class="fas fa-users"></i></span>
                                    </div>
                                    <h3>Professional Team</h3>
                                </div>
                            </div>

                            <!-- Interior Block -->
                            <div class="interior-block col-12 col-md-4">
                                <div class="block-inner">
                                    <div class="icon-box">
                                        <span><i class="fas fa-thumbs-up"></i></span>
                                    </div>
                                    <h3>Popular School</h3>
                                </div>
                            </div>

                        </div>

                        <div class="bold-text">Get in touch with us to get your child a great experience.</div>
                    </div>
                </div>

            </div>
        </article>

        <article class="counter-why-us-container">

            <!-- Fact Counter -->
            <div class="fact-counter">
                <div class="row justify-content-center">

                    <!--Column-->
                    <div class="column col-12 col-md-6 col-lg-4">
                        <div class="inner">
                            <div class="content">
                                <div class="count-outer ">
                                    <span class="count-text">5</span> Years
                                </div>
                                <h4 class="counter-title">Experience</h4>
                            </div>
                        </div>
                    </div>

                    <!--Column-->
                    <div class="column col-12 col-md-6 col-lg-4">
                        <div class="inner">
                            <div class="content">
                                <div class="count-outer">
                                    <span class="count-text">500</span>+
                                </div>
                                <h4 class="counter-title">Child Educated</h4>
                            </div>
                        </div>
                    </div>

                    <!--Column-->
                    <div class="column col-12 col-md-6 col-lg-4">
                        <div class="inner">
                            <div class="content">
                                <div class="count-outer ">
                                    <span class="count-text">12</span>+
                                </div>
                                <h4 class="counter-title">Professional Tutors</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </article>
    </div>
</section>

<!--============ Why Us PART END ============-->
<!--============ Pricing PART START ============-->

<section id="pricing" class="pricing">
    <div class="container">

        <!-- Pricing Header -->
        <div class="header-title">
            <h2>
                <span class="shape shape-right bg-color-shape"></span>
                <span class="text">Pricing</span>
                <span class="shape shape-left bg-color-shape"></span>
            </h2>
        </div>

        <!-- Pricing Header -->
        <div class="row justify-content-center">

            <div id="nursery_1" class="price-item col-12 col-md-6 col-lg-4">
                <div class="item-container">

                    <div class="price-img-container text-center">
                        <span>
                            <img class="img-responsive" src="/Images/Statics/pricing/prc01-pexels-natalie.jpg" alt="">
                        </span>
                    </div>

                    <div class="price-info">
                        <h4>Nursery 1</h4>
                        <ul class="list-unstyled" style="color: white;">
                            <li>
                                <i class="fa fa-child"></i>
                                <span>3 Months ==> 3 Years Old</span>
                            </li>
                            <li style="color: var(--color-secondary);">
                                <i class="fa fa-calendar"></i>
                                <span><time>06:00</time>AM to <time>13:30</time>PM</span>
                            </li>
                            <li>
                                <i class="fas fa-cookie-bite"></i>
                                <span>+100DH: Child's Food</span>
                            </li>
                            <li>
                                <i class="fas fa-baby-carriage"></i>
                                <span>+200DH: Feeding & Changing</span>
                            </li>
                        </ul>

                        <div class="price">
                            <span>
                                <strike>600DH</strike>
                                <i class="fa fa-angle-double-right"></i>
                                <span>500DH</span>
                            </span>
                        </div>

                        <div class="btn-inscrirer">
                            <a href="#" class="btn ">
                                <i class="fa fa-chevron-circle-right"></i>
                                <span>Inscrirer</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="nursery_2" class="price-item col-12 col-md-6 col-lg-4">
                <div class="item-container">

                    <div class="price-img-container text-center">
                        <span>
                            <img class="img-responsive" src="/Images/Statics/pricing/prc02-pexels-sharon-mccutcheon.jpg" alt="image">
                        </span>
                    </div>

                    <div class="price-info">
                        <h4>Nursery 2</h4>
                        <ul class="list-unstyled" style="color: white;">
                            <li>
                                <i class="fa fa-child"></i>
                                <span>3 Months ==> 3 Years Old</span>
                            </li>
                            <li style="color: var(--color-secondary);">
                                <i class="fa fa-calendar"></i>
                                <span><time>06:00</time>AM to <time>19:30</time>PM</span>
                            </li>
                            <li>
                                <i class="fas fa-cookie-bite"></i>
                                <span>+100DH: Child's Food</span>
                            </li>
                            <li>
                                <i class="fas fa-baby-carriage"></i>
                                <span>+200DH: Feeding & Changing</span>
                            </li>
                        </ul>

                        <div class="price">
                            <span>
                                <strike>1150DH</strike>
                                <i class="fa fa-angle-double-right"></i>
                                <span>1000DH</span>
                            </span>
                        </div>

                        <div class="btn-inscrirer">
                            <a href="#" class="btn ">
                                <i class="fa fa-chevron-circle-right"></i>
                                <span>Inscrirer</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div id="Kindergarten" class="price-item col-12 col-md-6 col-lg-4">
                <div class="item-container">

                    <div class="price-img-container text-center">
                        <span>
                            <img class="img-responsive" src="/Images/Statics/pricing/prc03-pexels-olia-danilevich.jpg" alt="image">
                        </span>
                    </div>

                    <div class="price-info">

                        <h4>Kindergarten</h4>

                        <ul class="list-unstyled" style="color: #ffffff;">
                            <li>
                                <i class="fa fa-child"></i>
                                <span>3 Years ==> 5 Years Old</span>
                            </li>
                            <li>
                                <i class="fa fa-calendar"></i>
                                <span><time>08:00</time>AM to <time>18:30</time>PM</span>
                            </li>
                            <li>
                                <i class="fas fa-cookie-bite"></i>
                                <span>+100DH: Kid's Food</span>
                            </li>
                            <li>
                                <i class="fa fa-bus"></i>
                                <span>+200DH: Transport</span>
                            </li>
                        </ul>

                        <div class="price">
                            <span>
                                <strike>250DH  </strike>
                                <i class="fa fa-angle-double-right"></i>
                                <span>200DH</span>
                            </span>
                        </div>

                        <div class="btn-inscrirer">
                            <a href="#" class="btn ">
                                <i class="fa fa-chevron-circle-right"></i>
                                <span>Inscrirer</span>
                            </a>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>
</section>

<!--============ Pricing PART END ============-->
<!--============ About Us PART START ============-->

<section id="about-us" class="about-us">

    <div class="container">
        <div class="header-title">
            <h2>
                <span class="shape shape-right bg-color-shape"></span>
                <span class="text">About Us</span>
                <span class="shape shape-left bg-color-shape"></span>
            </h2>
        </div>
    </div>

    <!-- Introduction Article -->
    <article id="introduction" class="introduction">
        <div class="container">
            <div class="row">

                <div class="col-12 col-sm-6 img-container cover">
                    <div class="overlay"></div>
                </div>

                <div class="col-12 col-sm-6">

                    <div class="content-container">

                        <div class="logo-container">
                            <div class="logo-icon">
                                <a  asp-action="Index" asp-controller="Home">SMART<em>KID</em></a>
                            </div>
                        </div>

                        <h5 class="">Protecting What's Most Important</h5>

                        <p class="">We’ve Served Generations. Teaching Them What’s Most Important. Let Us Do The Same For Kid.</p>

                    </div>

                </div>

            </div>
        </div>
    </article>

    <!-- Teams Article -->
    <article id="team" class="team-slide">
        <div class="container">

            <!-- Title Box -->
            <div class="title-box">
                <h2>Our Team</h2>
            </div>

            <!-- Team Slider -->
            <div class="owl-carousel owl-theme">

                <!-- Team Member-->
                <div class="team-member">
                    <div class="image">
                        <img src="/Images/Statics/team/tch-pexels-christina-morillo.jpg" alt="">
                        <div class="overlay-box">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                                <li><a href="#"><i class="fab fa-skype"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="content">
                        <h3>Maria Farah</h3>
                        <div class="designation">English Teacher</div>
                    </div>
                </div>

                <!-- Team Member-->
                <div class="team-member">
                    <div class="image">
                        <img src="/Images/Statics/team/tch-pexels-gustavo-fring.jpg" alt="">
                        <div class="overlay-box">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                                <li><a href="#"><i class="fab fa-skype"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="content">
                        <h3>Sarah Nouay</h3>
                        <div class="designation">French Teacher</div>
                    </div>
                </div>

                <!-- Team Member-->
                <div class="team-member">
                    <div class="image">
                        <img src="/Images/Statics/team/tch-pexels-italo-melo.jpg" alt="">
                        <div class="overlay-box">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                                <li><a href="#"><i class="fab fa-skype"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="content">
                        <h3>Saad Mourad</h3>
                        <div class="designation">Sport Trainer</div>
                    </div>
                </div>

                <!-- Team Member-->
                <div class="team-member">
                    <div class="image">
                        <img src="/Images/Statics/team/tch-pexels-linkedin-sales-navigator.jpg" alt="">
                        <div class="overlay-box">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                                <li><a href="#"><i class="fab fa-skype"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="content">
                        <h3>Adam Isek</h3>
                        <div class="designation">Director</div>
                    </div>
                </div>



            </div>
        </div>
    </article>

    <!-- Picture Article -->
    <article id="our-pictures" class="picture-article">
        <div class="container">

            <!-- Title Box -->
            <div class="title-box">
                <h2>Our Latest Projects</h2>
            </div>

            <!--Isotope Galery-->
            <div class="sortable-masonry">

                <!--Filter-->
                <div class="filters">
                    <ul class="filter-tabs filter-btns text-center">
                        <li class="active filter" data-role="button" data-filter=".all">All</li>
                        <li class="filter" data-role="button" data-filter=".sport">Sport</li>
                        <li class="filter" data-role="button" data-filter=".calasses">Calasses</li>
                        <li class="filter" data-role="button" data-filter=".library">Library</li>
                        <li class="filter" data-role="button" data-filter=".spaces">Spaces</li>
                    </ul>
                </div>

                <div class="items-container row">

                    <!-- Gallery Item -->
                    <div class="col gallery-item large-block masonry-item all sport">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="/Images/Statics/gallery/glry-sprt-pexels-rodnae-productions-8035099.jpg" alt="">
                            </figure>
                        </div>
                    </div>

                    <!-- Gallery Item -->
                    <div class="col gallery-item small-block masonry-item all calasses">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="/Images/Statics/gallery/glry-clss-pexels-cdc-3992949.jpg" alt="">
                            </figure>
                        </div>
                    </div>

                    <!-- Gallery Item -->
                    <div class="col gallery-item small-block masonry-item all sport">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="/Images/Statics/gallery/glry-sprt-pexels-lukas-296302.jpg" alt="">
                            </figure>
                        </div>
                    </div>

                    <!-- Gallery Item -->
                    <div class="col gallery-item large-block masonry-item all library">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="/Images/Statics/gallery/glry-lib-pexels-tatiana-2898170.jpg" alt="">
                            </figure>
                        </div>
                    </div>

                    <!-- Gallery Item -->
                    <div class="col gallery-item small-block masonry-item all sport">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="/Images/Statics/gallery/glry-sprt-pexels-rodnae-productions-8035106.jpg" alt="">
                            </figure>
                        </div>
                    </div>

                    <!-- Gallery Item -->
                    <div class="col gallery-item large-block masonry-item all calasses">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="/Images/Statics/gallery/glry-clss-pexels-pixabay-256395.jpg" alt="">
                            </figure>
                        </div>
                    </div>

                    <!-- Gallery Item -->
                    <div class="col gallery-item large-block masonry-item all sport">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="/Images/Statics/gallery/glry-sprt-pexels-rodnae-productions-8034584.jpg" alt="">
                            </figure>
                        </div>
                    </div>

                    <!-- Gallery Item -->
                    <div class="col gallery-item small-block masonry-item all calasses">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="/Images/Statics/gallery/glry-clss-pexels-max-fischer-5212338.jpg" alt="">
                            </figure>
                        </div>
                    </div>

                    <!-- Gallery Item -->
                    <div class="col gallery-item large-block masonry-item all sport">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="/Images/Statics/gallery/glry-sprt-pexels-rodnae-productions.jpg" alt="">
                            </figure>
                        </div>
                    </div>

                    <!-- Gallery Item -->
                    <div class="col gallery-item small-block masonry-item all library">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="/Images/Statics/gallery/glry-lib-pexels-pew-nguyen-244134.jpg" alt="">
                            </figure>
                        </div>
                    </div>

                    <!-- Gallery Item -->
                    <div class="col gallery-item small-block masonry-item all spaces">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="/Images/Statics/gallery/glry-plc-pexels-tatiana-syrikova-3933025.jpg" alt="">
                            </figure>
                        </div>
                    </div>

                    <!-- Gallery Item -->
                    <div class="col gallery-item large-block masonry-item all calasses">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="/Images/Statics/gallery/glry-clss-pexels-arthur-krijgsman-4019754.jpg" alt="">
                            </figure>
                        </div>
                    </div>

                    <!-- Gallery Item -->
                    <div class="col gallery-item small-block masonry-item all library">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="/Images/Statics/gallery/glry-lib-pexels-element-digital-1370296.jpg" alt="">
                            </figure>
                        </div>
                    </div>

                    <!-- Gallery Item -->
                    <div class="col gallery-item large-block masonry-item all spaces">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="/Images/Statics/gallery/glry-plc-pexels-pixabay-207691.jpg" alt="">
                            </figure>
                        </div>
                    </div>

                    <!-- Gallery Item -->
                    <div class="col gallery-item small-block masonry-item all library">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="/Images/Statics/gallery/glry-lib-pexels-pixabay-159702.jpg" alt="">
                            </figure>
                        </div>
                    </div>

                    <!-- Gallery Item -->
                    <div class="col gallery-item small-block masonry-item all spaces">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="/Images/Statics/gallery/glry-plc-pexels-pixabay-159644.jpg" alt="">
                            </figure>
                        </div>
                    </div>

                    <!-- Gallery Item -->
                    <div class="col gallery-item large-block masonry-item all library">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="/Images/Statics/gallery/glry-lib-pexels-ksenia-chernaya-3952078.jpg" alt="">
                            </figure>
                        </div>
                    </div>

                    <!-- Gallery Item -->
                    <div class="col gallery-item large-block masonry-item all spaces">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="/Images/Statics/gallery/glry-plc-pexels-meliani-driss-2982449.jpg" alt="">
                            </figure>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </article>

    <!-- Testimonial Article -->
    <article id="testimonials" class="testimonials-slide">
        <div class="container">

            <!-- Title Box -->
            <div class="title-box">
                <h2>What Paople Think About Us</h2>
            </div>

            <div class="owl-carousel owl-theme">

                <!-- testimonial -->
                <div class="testimonial">
                    <img src="/Images/Statics/team/tch-pexels-linkedin-sales-navigator.jpg" alt="">
                    <h4 class="name">Mouad Mohmadi</h4>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <q class="text-center">
                        SMARTKID is a nice introduction to a structured semi-academic environment for children who have not experienced it before.
                    </q>
                </div>

                <!-- testimonial -->
                <div class="testimonial">
                    <img src="/Images/Statics/team/tch-pexels-gustavo-fring.jpg" alt="">
                    <h4 class="name">Mouad Mohmadi</h4>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <p class="text-center">
                        Kids with SMARTKID do learn to read, do math and master academic skills in later grades.
                    </p>
                </div>

                <!-- testimonial -->
                <div class="testimonial">
                    <img src="/Images/Statics/team/tch-pexels-rfstudio.jpg" alt="">
                    <h4 class="name">Mouad Mohmadi</h4>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <p class="text-center">
                        Kindergarten was cool. The team helped my child to read faster. He had a problem with it, but they took care of it right away.
                    </p>
                </div>

                <!-- testimonial -->
                <div class="testimonial">
                    <img src="/Images/Statics/team/tch-pexels-christina-morillo.jpg" alt="">
                    <h4 class="name">Mouad Mohmadi</h4>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <p class="text-center">
                        My child just started using Nursery. I feel comfortable. I would definitely recommend them to my friends.
                    </p>
                </div>

            </div>

        </div>
    </article>

</section>

<!--============ About Us PART END ============-->
